name: Build Docker image, then push to Docker Hub

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_USER: ${{ secrets.DOCKER_USER }}
      DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
    steps:
    - uses: actions/checkout@v3
    
    - name: Build docker image
      run: |
        export IMAGE_NAME=$DOCKER_USER/test_website
        docker build . --file Dockerfile --tag $IMAGE_NAME
    
    - name: Push to Docker Hub
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASS
        docker push $IMAGE_NAME