name: Build Docker image, scan with Snyk & Trivy, then push to Docker Hub

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_scan_push:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ${{ vars.IMAGE_NAME }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Gitleaks
      run: |
        export GITLEAKS_VERSION=$(wget -qO - "https://api.github.com/repos/gitleaks/gitleaks/releases/latest" | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/')
        wget -q https://github.com/gitleaks/gitleaks/releases/download/v${GITLEAKS_VERSION}/gitleaks_${GITLEAKS_VERSION}_linux_x64.tar.gz
        tar -xvf gitleaks_${GITLEAKS_VERSION}_linux_x64.tar.gz
        sudo mv gitleaks /usr/local/bin/

    - name: Run Gitleaks
      run: |
        ls -lh
        gitleaks detect -s . -v --redact
    
    - name: Build docker image
      run: docker build . --file Dockerfile --tag $IMAGE_NAME
    
    - name: Scan with Trivy
      run: |
        export TRIVY_VERSION=$(wget -qO - "https://api.github.com/repos/aquasecurity/trivy/releases/latest" | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/')
        wget -q https://github.com/aquasecurity/trivy/releases/download/v${TRIVY_VERSION}/trivy_${TRIVY_VERSION}_Linux-64bit.deb
        sudo dpkg -i trivy_${TRIVY_VERSION}_Linux-64bit.deb
        trivy image $IMAGE_NAME --exit-code 0 --severity MEDIUM,HIGH --ignore-unfixed
        trivy image $IMAGE_NAME --exit-code 1 --severity CRITICAL --ignore-unfixed

    - name: Scan with Snyk
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      run: |
        npm install -g snyk
        snyk auth $SNYK_TOKEN
        snyk container test $IMAGE_NAME --fail-on=all --exclude-base-image-vulns --severity-threshold=critical


    - name: Push to Docker Hub
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASS
        docker push $IMAGE_NAME