name: Build Docker image, then push to Docker Hub

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Build docker image
      run: |
        docker build . --file Dockerfile -t ${IMAGE_NAME}:latest
    
    - name: Push to Docker Hub
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASS
        docker push $IMAGE_NAME
